// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: normal;
//   src: url(../fonts/open-sans/OpenSans-ExtraBold.ttf) format('truetype');
// }
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:300&display=swap&subset=chinese-simplified');
@font-face {
  font-family: 'Road Geek';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roadgeek-2005/roadgeek 2005 series 1w.ttf') format('truetype');
}