// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: normal;
//   src: url(../fonts/open-sans/OpenSans-ExtraBold.ttf) format('truetype');
// }

@font-face {
  font-family: 'Road Geek';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roadgeek-2005/roadgeek 2005 series 1w.ttf') format('truetype');
}
